 #wrapper{
    margin: auto;
    padding: 6% 30%;
    background-color: #cc5c5c;
    }
  #form {
    padding: 10%;
    background-color: #eee;
}
.txt {
    width: 100%;
}
p {
    background-color: #eee;
    padding: 3%;
}
