 #wrapper{
    margin: auto;
    padding: 6% 30%;
    background-color: #cc5c5c;
    }
  #form {
    padding: 10%;
    background-color: #eeefff;
}
.txt {
    width: 100%;
}
p {
    background-color: #efefef;
    padding: 3%;
}